@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {

        /* Colors */
        --color-light:  #efefef;
        --color-dark:   #111414;
        --color-border-light: #1114141a;    /* border color when its light mode */
        --color-border-dark: #efefef1a;     /* border color when its dark mode */
    }
    
}



